<section id="top">
    <div class="container" id="tip">
        <div class="row">
            <div class="col-md-12">
                <div class="navbar">
                 <h1>QUOTES</h1>

                </div>

            </div>

        </div>

    </div>
    </section>


    <div style="width: 80vw;">
    <form >
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text"style="width: 30%; height:5vh;" id="form4Example1"placeholder='name' class="form-control" />
         
        </div>
        <!-- Email input -->
        <div class="form-outline mb-4">
          <input type="email"style="width: 30%; height:5vh;" id="form4Example2"placeholder="title" class="form-control" />
         
        </div>
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea class="form-control"style="width: 30%; height:5vh;" id="form4Example3" placeholder ="quote"rows="4"></textarea>
         
        </div>
        <div class="form-outline mb-4">
            <input type="email"style="width: 30%; height:5vh;"id="form4Example2" placeholder ="author"class="form-control" />
  

          </div>
    
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
      </form>
    </div>
    
    <app-details></app-details>
    <!-- <app-directive></app-directive> -->
          


  